#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    class hal
    user system
    group nfc system
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    class hal
    user system
    group system
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

on boot && property:ro.boot.product.hardware.sku=haydn
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    enable vendor.nfc_hal_service

on boot && property:ro.boot.product.hardware.sku=haydnpro
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    enable vendor.nfc_hal_service

on boot && property:ro.boot.hwc=CN
    setprop bluetooth.device.default_name "Redmi K40 Pro"

on boot && property:ro.boot.hwc=CN && property:ro.boot.hardware.sku=haydnpro
    setprop bluetooth.device.default_name "Redmi K40 Pro +"

on boot && property:ro.boot.hwc=GL
    setprop bluetooth.device.default_name "Mi 11i"

on boot && property:ro.boot.hwc=IN
    setprop bluetooth.device.default_name "Mi 11X Pro"
